<h2>Say something</h2>


<% if(typeof message !== 'undefined'){ %>
  <div class="info" style="margin: 1rem 0;"><%= message %></div>
<% } %>

<form action="/post" method="POST">
  
  <div style="display: block">
    <label for="channel">Channel (must be public)</label>
    <input type="text" name="channel" id="channel"/>
  </div>
  
  <div style="display: block">
    <label for="words">Message</label>
    <input type="text" name="words" id="words" />
  </div>
      
  <div style="display: block; margin: 1rem 0;">
    <input type="submit" value="post">
  </div>
  
</form>